@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Black.eot?2880e998db13a9aafc00d394acf2b125);
   src:    url(/fonts/Roboto-Black.eot?2880e998db13a9aafc00d394acf2b125?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Black.woff?5a32e227d7cfb309f3ff62adf7eca59b) format("woff"),
           url(/fonts/Roboto-Black.ttf?2fe951cdf6cd3e6b034a10989eb8a796) format("truetype"),
           url(/fonts/Roboto-Black.svg?913980f7fd076b6322da337f6062cd19#Roboto) format("svg");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Black_Italic.eot?0869e1272d63b649e8c03f776bbcd91f);
   src:    url(/fonts/Roboto-Black_Italic.eot?0869e1272d63b649e8c03f776bbcd91f?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Black_Italic.woff?2a9d12ac29a4be8a1c912911dca98c52) format("woff"),
           url(/fonts/Roboto-Black_Italic.ttf?631d5548d3b6687c74a30ad0fc1f646b) format("truetype"),
           url(/fonts/Roboto-Black_Italic.svg?726e55fb20a03c306cd13c461d44b419#Roboto) format("svg");
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Bold.eot?df3f09c53e356df3b80a73343736778e);
   src:    url(/fonts/Roboto-Bold.eot?df3f09c53e356df3b80a73343736778e?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Bold.woff?491fc0c771bebba90e8106d43f1d8dc8) format("woff"),
           url(/fonts/Roboto-Bold.ttf?b74aa248fe76ceeb73633afadfa4e0ad) format("truetype"),
           url(/fonts/Roboto-Bold.svg?abb38aefa6e5d55b59d34e8f588059fe#Roboto) format("svg");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Bold_Italic.eot?905579d61117296fd4c771d78887cc0a);
   src:    url(/fonts/Roboto-Bold_Italic.eot?905579d61117296fd4c771d78887cc0a?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Bold_Italic.woff?64372e1f3cebf62cd0c8f62cd5180905) format("woff"),
           url(/fonts/Roboto-Bold_Italic.ttf?1b85d59cfcf4bd99b7314bfb9e2ed001) format("truetype"),
           url(/fonts/Roboto-Bold_Italic.svg?3fe39a5a54d38bc2c3d6cbf9fbfa955c#Roboto) format("svg");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Italic.eot?4a4285d169b481f8c74a9bf181f6d54e);
   src:    url(/fonts/Roboto-Italic.eot?4a4285d169b481f8c74a9bf181f6d54e?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Italic.woff?e0f2bf99ca8884f4fa697fa26149621c) format("woff"),
           url(/fonts/Roboto-Italic.ttf?0d81a755e7a9a483d1f4ba2095a279bc) format("truetype"),
           url(/fonts/Roboto-Italic.svg?68c77cab761b3ce88e70572368fdc915#Roboto) format("svg");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Light.eot?08fd17a1e437540736c4fc7a51df7b2c);
   src:    url(/fonts/Roboto-Light.eot?08fd17a1e437540736c4fc7a51df7b2c?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Light.woff?5c531115bb64913045eba4306856e98b) format("woff"),
           url(/fonts/Roboto-Light.ttf?2761ac283da99593bec28c0862fdc605) format("truetype"),
           url(/fonts/Roboto-Light.svg?54ee47b27652f299eb2b0606342545db#Roboto) format("svg");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Light_Italic.eot?fc43e41a797b97924e3cd8645a22733b);
   src:    url(/fonts/Roboto-Light_Italic.eot?fc43e41a797b97924e3cd8645a22733b?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Light_Italic.woff?bc15b5c0167cb5d10af2a9fc00e76f7c) format("woff"),
           url(/fonts/Roboto-Light_Italic.ttf?b3d68a64b91751e401594a729d91e19f) format("truetype"),
           url(/fonts/Roboto-Light_Italic.svg?27eea712cc4005a72d3f32741c9d823e#Roboto) format("svg");
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Medium.eot?7c8b38223f3fa7aa4c98d6b9a4ba765f);
   src:    url(/fonts/Roboto-Medium.eot?7c8b38223f3fa7aa4c98d6b9a4ba765f?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Medium.woff?90c6aee69dcf7d9168f331261d0a084c) format("woff"),
           url(/fonts/Roboto-Medium.ttf?d788eeb14291492e4b3f3617571ff8cf) format("truetype"),
           url(/fonts/Roboto-Medium.svg?8d30b9921125b4b6906e5ab032b24fb0#Roboto) format("svg");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Medium_Italic.eot?e810349abc3111486a04310463638531);
   src:    url(/fonts/Roboto-Medium_Italic.eot?e810349abc3111486a04310463638531?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Medium_Italic.woff?aa8c4b0bd189b8728c2b66709e08628c) format("woff"),
           url(/fonts/Roboto-Medium_Italic.ttf?a9a66d2fb46203142c7433ab5cfd846d) format("truetype"),
           url(/fonts/Roboto-Medium_Italic.svg?30b1f90871bd6bbaadc3fe1752cc0c90#Roboto) format("svg");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Regular.eot?f02400f962fe1a32424e1978936d3742);
   src:    url(/fonts/Roboto-Regular.eot?f02400f962fe1a32424e1978936d3742?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Regular.woff?6f65e2e464ecfc92f6e093d1c8c3040e) format("woff"),
           url(/fonts/Roboto-Regular.ttf?f468de1f577a8bbd9de13144ce5234b0) format("truetype"),
           url(/fonts/Roboto-Regular.svg?13ef6e353ce6a63a7717624c190d9468#Roboto) format("svg");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Thin.eot?b01c3ab2105204befc7d8132e35899db);
   src:    url(/fonts/Roboto-Thin.eot?b01c3ab2105204befc7d8132e35899db?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Thin.woff?1629c92bccd0fed2fb5c9d010717942e) format("woff"),
           url(/fonts/Roboto-Thin.ttf?f380d4d32829fc257f075b026f1cc0d4) format("truetype"),
           url(/fonts/Roboto-Thin.svg?a239e9b8b08facb16413760d1d5a345e#Roboto) format("svg");
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src:    url(/fonts/Roboto-Thin_Italic.eot?bd570d48e02139bf46548378dc055321);
   src:    url(/fonts/Roboto-Thin_Italic.eot?bd570d48e02139bf46548378dc055321?#iefix) format("embedded-opentype"),
           url(/fonts/Roboto-Thin_Italic.woff?1a4cc6646f33629cb329646abe11fc77) format("woff"),
           url(/fonts/Roboto-Thin_Italic.ttf?2f1eb48251b9c13df97c4a66e00c7716) format("truetype"),
           url(/fonts/Roboto-Thin_Italic.svg?e9e7d85a3cf886b1fd43d48532ac588a#Roboto) format("svg");
   font-weight: 100;
   font-style: italic;
   font-display: swap;
}


